body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-brand-img {
  max-height: 2.4rem;
  width: auto;
}

@media all and (min-width: 540px){
  .pt-md-11, .pt-md-11 {
    padding-top: 10rem !important;
  }
}

@media all and (min-width: 768px){
  .pt-md-11, .pt-md-11 {
    padding-top: 15rem !important;
  }
  
}
@media all and (min-width: 992px){
  .pt-md-11, .pt-md-11 {
    padding-top: 9rem !important;
  }
}